header {
  margin-top: 50px;
  margin-botton: 50px;
  margin-left: 10px;
  float: left;
}
#menu {
  background-image: url('https://raw.githubusercontent.com/dlsgk147/dlsgk147.github.io/master/image/menu_bground.png');
  width: 100%;
  min-width: 1250px;
  height: 218px;
}
  #menu ol {
  position: absolute;
  margin: 80px;
  padding: 10px;
  white-space: nowrap;
  display: inline;
}
  #menu ol li {
  margin: 10px;
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
  font-size: 16pt;
}
  #menu ol li a {
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
  font-size: 16pt;
}
  #menu ol li a:hover {
  color: rgb(255,180,0);
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
}
#top_button {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
body {
  background-image: url('https://raw.githubusercontent.com/dlsgk147/dlsgk147.github.io/master/image/bground.jpg');
  background-repeat: repeat;
  background-attachment: scroll;
  margin-left: 50px;
  margin-top: -10px;
}
* {
  color: rgb(255,255,255);
  font-size: 11pt;
  font-family: "THE정고딕120", "Times New Roman", sans-serif;
}
